<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>delete</h1>
    {% if form.title %}
    <p>are you sure you want to delete {{form.title}}?</p>
    {% endif %}
    {% if form.first_name %}
    <p>are you sure you want to delete {{form.first_name}}?</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes"/>
        <a href="{% url 'home' %}">No</a>
    </form>
</body>
</html>