{% extends 'base.template.html' %}
{% load static %}
{% block content %}
    <h1>Books</h1>
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please <a href="../accounts/login">Login</a></p>
    {%endif%}
    {% if request.user.is_authenticated  %}
    <p>
        <a href="{% url 'create_book' %}">Create Book</a>
    </p>
    <ul>
        {% for i in books %}
        <li>{{i.title}} 
        <a href="{% url 'view_book_details' book_id=i.id %}">{{i.title}}</a> 
        <a href="{% url 'update_book_route' dataid=i.id %}">Edit</a> 
        <a href="{% url 'delete_book_route' dataid=i.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <h1>Authors</h1>
    <a href="{% url 'create_author' %}">Create Author</a>
    <ul>
        {% for i in authors %}
        <li>{{i.first_name}} <a href="{% url 'update_author_route' dataid=i.id %}">Edit</a> <a href="{% url 'delete_author_route' dataid=i.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    {%endif%}
{% endblock %}
