{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Books</h1>
    <p>
        <a href="{% url 'create_book' %}">Create Book</a>
    </p>
    <ul>
        {% for i in books %}
        <li>{{i.title}} <a href="{% url 'update_book_route' dataid=i.id %}">Edit</a> <a href="{% url 'delete_book_route' dataid=i.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <h1>Authors</h1>
    <a href="{% url 'create_author' %}">Create Author</a>
    <ul>
        {% for i in authors %}
        <li>{{i.first_name}} <a href="{% url 'update_author_route' dataid=i.id %}">Edit</a> <a href="{% url 'delete_author_route' dataid=i.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    
</body>
</html>